<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    <title>{{ title }}</title>
  </head>
  <body>
    <div>
      {% for level in levels %}
        <a href="/level?level={{level+1}}">{{level+1}}</a>
      {% endfor %}
      <button id="newLevel">New</button>
    </div>
    <div>
      Level: <input id="level" value="1" />
      <div><button id="loadLevel">Load</button></div>
    </div>
    <div id="level_ctr">
      <div id="board_ctr" style="float:left">
        <table id="board">
        </table>
      </div>
      <div style="float:left">
        <div>
          <ul style="list-style: none">
            <li>
              <input type="radio" name="tiletype" value="inspect" checked="checked" />Inspect
            </li>
            <li><input type="radio" name="tiletype" value="normal" />Normal Random</li>
            <li><input type="radio" name="tiletype" value="steel" />Steel</li>
            <li><input type="radio" name="tiletype" value="empty" />Empty</li>
            <li><input type="radio" name="tiletype" value="rainbow" />Rainbow</li>
            <li><input type="radio" name="tiletype" value="cross" />Cross</li>
            <li><input type="radio" name="tiletype" value="vertical" />Vertical</li>
            <li><input type="radio" name="tiletype" value="horizontal" />Horizontal</li>
            <li><input type="radio" name="tiletype" value="regular" />Normal Specific Value</li>
            <li>Value<input type="text" name="tilevalue" value="1" id="tilevalue" /></li>
          </ul>
          <div>
            <button id="save">Save</button>
          </div>
        </div>
      </div>
      <div style="clear:both"></div>
    </div>
    <div>
      <div>
        Rows: <input id="rows" value="0" />
      </div>
      <div>
        Cols: <input id="cols" value="0" />
      </div>
      <div>
        <button id="redraw_button">Redraw</button>
      </div>
      </div>
    </div>

    <script src="/javascripts/jquery-3.2.1.min.js"></script>
    <script>
      $(document).ready(function() {

        LoadLevel({{ level }});

        var theBoard;

        function LoadLevel(level) {
          $.get('/levels?level=' + level,
            function(res) {
              theBoard = res;
              console.log(theBoard);
              $('#rows').val(res.rows);
              $('#cols').val(res.cols);
              $('#level').val(res.level+1);
              CreateTable(res.rows, res.cols, theBoard.boardSpec);                    
            }, 'json'
          );
        }

        function findIndex(row, col, boardSpec) {
          index = -1;
          if (boardSpec && boardSpec.length > 0) {
            found = false;
            i = 0;
            while (i < boardSpec.length && !found) {
              if (boardSpec[i].row == row && boardSpec[i].col == col) {
                found = true;
                index = i;
              }
              i++;
            }
          }
          return index;
        }

        function CreateTable(rows, cols, boardSpec) {
          tableStr = '';
          theBoard.rows = rows;
          theBoard.cols = cols;
          for (row = rows - 1; row >= 0; row--) {
            tableStr += '<tr>';
            for (col = 0; col < cols; col++) {
              found = false;
              i = 0;
              while (!found && boardSpec && i < boardSpec.length)
              {
                if (boardSpec[i].row == row && boardSpec[i].col == col) {
                  found = true;
                  str = '';
                  if (boardSpec[i].indestructable == 1) {
                    str += 'd';
                  }
                  if (boardSpec[i].immoveable == 1) {
                    str += 'm';
                  }
                  if (boardSpec[i].invisible == 1) {
                    str += 'v';
                  }
                  if (boardSpec[i].nonblocking == 1) {
                    str += 'b';
                  }
                  if (boardSpec[i].value >= 0) {
                    str += boardSpec[i].value;
                  }
                  if (typeof boardSpec[i].tiletype !== 'undefined') {
                    switch (boardSpec[i].tiletype) {
                      case 'vertical': str+='&#8597;';break;
                      case 'horizontal': str +='&harr;';break;
                      case 'cross': str += '&#9534;';break;
                      default:break;                      
                    }
                  }
                  tableStr += '<td class="tile" row="'+row+'" col="'+col+'">'+row+','+col+'<br />'+str+'</td>';
                }
                i++;
              }
              if (!found) {
                tableStr += '<td class="tile" row="'+row+'" col="'+col+'">'+row+','+col+'</td>';
              }
            }
            tableStr += '</tr>';
          }
          $('#board').html(tableStr);
          BindBoardClick();
        }

        function BindBoardClick() {
          $('#board tr td').on("click", function() {
            var chosenType = $('input[name=tiletype]:checked').val();
            idx = findIndex($(this).attr('row'), $(this).attr('col'), theBoard.boardSpec);
            if (chosenType === 'normal') {
              if (idx >= 0) {
                theBoard.boardSpec.splice(idx, 1);
              }
            }
            if (chosenType === 'steel') {
              spec = {
                row: $(this).attr('row'),
                col: $(this).attr('col'),
                immoveable: 1,
                indestructable: 1,
                nonblocking: 0,
                invisible: 0,
                steel: 1,
                value: -1,
                tiletype: "nil"
              }
              if (idx >= 0) {
                theBoard.boardSpec[idx] = spec;
              } else {
                if (!theBoard.boardSpec) {
                  theBoard.boardSpec = [];
                }
                theBoard.boardSpec.push(spec);
              }
            }
            if (chosenType === 'empty') {
              spec = {
                row: $(this).attr('row'),
                col: $(this).attr('col'),
                immoveable: 1,
                indestructable: 1,
                nonblocking: 1,
                invisible: 1,
                steel: 0,
                value: -1,
                tiletype: "nil"
              }
              if (idx >= 0) {
                theBoard.boardSpec[idx] = spec;
              } else {
                if (!theBoard.boardSpec) {
                  theBoard.boardSpec = [];
                }
                theBoard.boardSpec.push(spec);
              }
            }
            if (chosenType == 'cross' || chosenType == 'vertical' || chosenType == 'horizontal' || chosenType == 'regular') {
              value = $('#tilevalue').val();
              spec = {
                row: $(this).attr('row'),
                col: $(this).attr('col'),
                value: value,
                tiletype: chosenType
              };
              if (idx >= 0) {
                theBoard.boardSpec[idx] = spec;
              } else {
                if (!theBoard.boardSpec) {
                  theBoard.boardSpec = [];
                }
                theBoard.boardSpec.push(spec);
              }
            }
            CreateTable($('#rows').val(), $('#cols').val(), theBoard.boardSpec);
          });
        }

        $('#redraw_button').click(function(e) {
          rows = $('#rows').val();
          cols = $('#cols').val();
          if (rows > 0 && cols > 0) {
            CreateTable(rows, cols);
          }
        })

        $('#loadLevel').click(function(e) {
          level = $('#level').val();
          console.log(level);
          if (level > 0) {
            LoadLevel(level);
          }
        });

        $('#save').click(function(e) {
          $.post('/levels',
            {
              board: JSON.stringify(theBoard)
            },
            function(res) {
              console.log(res);
            },'json'
          )
        })

        $('#newLevel').click(function(e) {
          window.location = '/newlevel';
        })
      })
    </script>
  </body>
</html>

