#board {
  border: 1px solid black;
}

#board tr td {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;
}

#level_ctr {
  margin: 0 auto;
  width: 800px;
}